<!DOCTYPE html>

<html lang="ru" ng-app="AdminApp">
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <link href="~/Styles/themes/css/bootstrap.min.css" type="text/css" media="screen" id="callCss" rel="stylesheet" />
    <link href="~/Styles/themes/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css">
    <link href="~/Styles/themes/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="~/Styles/themes/css/base.css" rel="stylesheet" type="text/css">


    <script src="~/Scripts/angular-1.5.0-rc.1/angular.min.js"></script>
    <script src="~/Scripts/angular-1.5.0-rc.1/angular-animate.js"></script>
    <script src="~/Scripts/angular-1.5.0-rc.1/angular-route.js"></script>
    <script src="~/Scripts/angular-1.5.0-rc.1/angular-resource.js"></script>
    <script src="~/Scripts/angular-1.5.0-rc.1/angular-cookies.js"></script>
    <script src="~/Scripts/angular-1.5.0-rc.1/angular-touch.js"></script>
    <script src="~/Scripts/angular-1.5.0-rc.1/angular-sanitize.js"></script>
    <script src="~/Scripts/angular-1.5.0-rc.1/i18n/angular-locale_ru-ru.js"></script>
    <script src="~/Scripts/bootstrap-master/ui-bootstrap-tpls-1.2.1.js"></script>
    <script src="~/Scripts/js/admdirect.js"></script>



</head>

<body ng-controller="AppController"  >
    <nav class="navbar navbar-fixed-top navbar-inverse">
        <div class="container" id="Singlebutton">
            <!-- Simple dropdown -->         
                <!-- Single button -->
                <div class="btn-group" id="Singlebutton" uib-dropdown is-open="status.isopen">
                    <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                      Меню администратора<span class="caret"></span>
                    </button>
                    <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
                        <li role="menuitem"><a href="#/">Главная</a></li>
                        <li role="menuitem"><a href="#/ViewCounters/">Отобразить счетчики пользователей</a></li>
                        <li role="menuitem"><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li role="menuitem"><a href="#">Separated link</a></li>
                    </ul>
                </div>
        </div><!-- /.container -->
    </nav><!-- /.navbar -->

    <div class="content">
        @if (TempData["message"] != null)
        {
            <div class="alert alert-success">@TempData["message"]</div>
        }

        <h2>Панель администрации ТСЖ</h2>

        <ng-view></ng-view>

    </div>

    <pre>position: {{elemVals.position}}</pre>
    <footer>
        Все права защищены. CloudsSolution © 2015.
    </footer>


</body>






</html>