

<section>
     <h4>Год: {{month_year.year-1}}<input type="submit" value="<<" class="btn btn-default" ng-click="down_y()"></a> | {{month_year.year}} | <input type="submit" value=">>" class="btn btn-default" ng-click="up_y()" ng-disabled='now_y'></h4>
    <select ng-change="select_month()" ng-model="selectedMonth" value"{{month_year.month}}">
        @*<option value="">---Please select---</option>*@
        <option ng-repeat="option in monthOptions" value="{{option.id}}">{{option.name}}</option>
    </select>
</section>
<h2>Все счетчики жильцов</h2>
<table class="table table-bordered table-striped" st-table="rowCollection">
    <thead>
        <tr>
            <th></th>
            <td>
            ФИО 
            </td>
            <td>
               Газ             
            </td>
            <td>
               Электроэнергия             
            </td>
            <td>
               Холодная вода
            </td>
            <td>
               Горячая вода
            </td>
            <td>
                Улица, дом
            </td>
            <td>
                Месяц
            </td>
            <td>
                Статус
            </td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in counter | orderBy:sortType:sortReverse | filter:searchDef">
            <td cs-select="row"></td>
            <td>{{ item.Name }}</td>
            <td> <div ng-repeat="ig in item.gasi">{{ig.data}} | {{ig.place}} | ID: {{ ig.id }}<hr></div> </td>
            <td> <div ng-repeat="ie in item.energoi">{{ie.data}} | {{ie.place}} | ID: {{ ie.id }}<hr></div><hr></td>
            <td> <div ng-repeat="icw in item.cwi">{{icw.data}} | {{icw.place}} | ID: {{ icw.id }}<hr></div></td>
            <td> <div ng-repeat="ihw in item.hwi">{{ihw.data}} | {{ihw.place}} | ID: {{ ihw.id }}<hr></div></td>
            <td>{{ item.street}}, {{item.house}}, {{item.flat}}</td>
            <td>{{ item.month | JsonDate | date : 'MMM - y' }}</td>
            <td>{{ item.status | checkmark }}</td>
        </tr>
    </tbody>
</table>
<hr>
@if (User.IsInRole("Admin"))
{
    <pre>{{counter}}</pre>
}