
@model IEnumerable<string>

<ul class="nav navbar-nav">
    <li class="active"><a href="/home">Главная</a></li>
    @foreach (var link in Model)
            {
        if (link.Equals("Главная")) { continue; }
                <li><a href="/home#/article/@link">@link</a></li>
    }
</ul>