@model IEnumerable<string>
        
        <ul>
            <li>@Html.ActionLink("Главная", "Index", "User")</li>
            @foreach (var link in Model)
            {
                if (link.Equals("Главная")) { continue; }
            <li>@Html.RouteLink(link, new { controller = "User", action = "Index", id = link})</li>
            }
        </ul>

@section Scripts {


}