@if (User.IsInRole("Admin"))
{
    <ul>
        <li>@Html.ActionLink("Cтатьи", "Articles")</li>
        <li>@Html.ActionLink("Пользователи", "ViewUsers", "Admin")</li>
        <li>@Html.ActionLink("УК и ТСЖ", "ViewUk", "Admin")</li>
        <li>@Html.ActionLink("Управление ролями", "ViewRoles", "Admin")</li>
    </ul>
}