<ul>
    <li>@Html.ActionLink("Главная", "Index", new { controller = "Home",  id=1}, new { @class = "l_menu" })</li>
    <li>@Html.ActionLink("Контакты", "Index", new { controller = "Home", id = 2 }, new { @class = "l_menu" })</li>
</ul>