<!DOCTYPE html>

<html lang="ru" ng-app="HomeApp">

<head>
    @*<base href="/home">*@
    <meta charset="utf-8">
    <title>Business clean web templates</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <script src="~/Scripts/angular-1.5.6/angular.js"></script>
    <script src="~/Scripts/angular-1.5.6/angular-animate.js"></script>
    <script src="~/Scripts/angular-1.5.6/angular-route.js"></script>
    <script src="~/Scripts/angular-1.5.6/angular-cookies.js"></script>
    <script src="~/Scripts/angular-1.5.6/angular-resource.js"></script>
    <script src="~/Scripts/angular-1.5.6/angular-sanitize.js"></script>
    <script src="~/Scripts/bootstrap-master/ui-bootstrap-tpls-1.2.1.js"></script>
    <script src="~/Scripts/js/Controller.js"></script>
    <script src="~/Scripts/js/login.js"></script>
    <script src="~/Scripts/js/UserService.js"></script>
    <script src="~/Scripts/js/OperService.js"></script>

    <link href="~/Styles/themes/css/bootstrap.min.css" type="text/css" media="screen" id="callCss" rel="stylesheet" />
    <link href="~/Styles/themes/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css">
    <link href="~/Styles/themes/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="~/Styles/themes/css/base.css" rel="stylesheet" type="text/css">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <link href="~/Styles/themes/css/font-awesome-ie7.css" rel="stylesheet" />
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->


</head>

<body ng-controller="LoginInfoCtrl">
    <section id="navbar">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="btn btn-navbar" ng-init="navCollapsed = false" ng-click="navCollapsed = !navCollapsed" ng-class="{'collapsed':!navCollapsed}">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <h1><a class="brand" href="#/"> Business <small>  Ltd. {{navHeight}}</small></a></h1>
                        <div ng-class="{true:'nav-collapse collapse', false:'nav-collapse in collapse'}[navCollapsed]" ng-style="{{navHeight}}">
                            <ul class="nav pull-right" style="top: 0px;">
                                <li><a href="#/">Главная</a></li>
                                @Html.Action("menu_top", "Nav")


                                <!-- Simple dropdown -->
                                <li uib-dropdown on-toggle="toggled(open)" ng-show="Session.currentUser">
                                    <a href="#/" id="simple-dropdown" uib-dropdown-toggle>
                                        <i class="icon-user"></i> Меню пользователя
                                    </a>
                                    <ul uib-dropdown-menu aria-labelledby="simple-dropdown">
                                        <li><a href="#/meters">Счетчики</a></li>
                                        <li><a href="#/feedback">Обратная связь</a></li>
                                        <li class=""><a href="#/profile">Профиль</a></li>
                                        <li class=""><a href="#/">Support</a></li>
                                    </ul>
                                </li>

                                @*<ul uib-dropdown-menu aria-labelledby="simple-dropdown">
                                        <li><a href="#/meters">Счетчики</a></li>
                                        <li><a href="#/feedback">Обратная связь</a></li>
                                        <li class=""><a href="#/profile">Профиль</a></li>
                                        <li class=""><a href="contact.html">Support</a></li>
                                    </ul>*@


                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Header Ends================================================ -->

    <section id="bannerSection" style="background:url(../../Styles/themes/images/banner/contact.png) no-repeat center center #000;">
        <div class="container">
            <h1 id="pageTitle">
                Contact <small> :We love to hear from you</small>
                <span class="pull-right toolTipgroup">
                    <a href="#" data-placement="top" data-original-title="Find us on via facebook"><img style="width:45px" src="~/Styles/themes/images/facebook.png" alt="facebook" title="facebook"></a>
                    <a href="#" data-placement="top" data-original-title="Find us on via twitter"><img style="width:45px" src="~/Styles/themes/images/twitter.png" alt="twitter" title="twitter"></a>
                    <a href="#" data-placement="top" data-original-title="Find us on via youtube"><img style="width:45px" src="~/Styles/themes/images/youtube.png" alt="youtube" title="youtube"></a>
                </span>
            </h1>
        </div>
    </section>
    <!--Banner Ends================================================ -->
    <section id="bodySection" style="left: 0px">
        <div class="container">
            
            <hr class="soften">
            <div class="container">
                <div class="row">

                    <div class="span3">
                        <div class="well" style="padding: 8px 0;">
                            
                            <div ng-if="Session.currentUser" class="row-fluid">
                                Welcome, {{ Session.currentUser }}
                                <a class="navbar-brand" href="#/logoout">Выйти</a>
                            </div>
                            <div ng-hide="Session.currentUser">
                                <div ng-controller="LoginCtrl" class="row-fluid">
                                    <div class="">
                                        <span ng-show="response[0]" class="label label-important">
                                            {{response[1]}}
                                        </span>
                                        <form class="form-inline">
                                            @*@Html.AntiForgeryToken()*@
                                            <div class="form-group">
                                                @*<label class="control-label">Логин :</label>*@
                                                <div class="col-md-10">
                                                    <input type="text" class="form-control text-box single-line" placeholder="Login" ng-model="credentials.username">
                                                </div>
                                            <div class="form-group">
                                                @*<label class="control-label">Пароль:</label>*@
                                                <div class="col-md-10">
                                                    <input type="password" class="form-control text-box single-line" placeholder="Password" ng-model="credentials.password">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label"  for="optionsCheckbox">Запомнить</label>
                                                <label class="checkbox">
                                                    <input type="checkbox" id="optionsCheckbox" ng-model="credentials.RememberMe">
                                                </label>
                                            </div>
                                            <div class="form-actions">
                                                <button type="submit" class="btn btn-default" ng-click="login(credentials)">Войти</button>
                                            </div>
                                        </form>
                                        <div class="row-fluid"><a href="#/register" class="dropdown-toggle">Регистрация</a></div>
                                    </div>
                                </div>
                            </div>
                            @Html.Action("menu_moder", "Nav")

                            <!-- Single button -->
                            <div class="btn-group" id="Singlebutton" uib-dropdown is-open="status.isopen">
                                @*<button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                                        Меню администратора<span class="caret"></span>
                                    </button>*@
                                <ul uib-dropdown-menu role="menu" aria-labelledby="single-button"></ul>
                            </div>
                        </div>
                    </div>
                    @RenderBody()
                </div>
            </div>
        </div>
    </section>
    <!--Body Ends================================================ -->
    <footer>
        Все права защищены. CloudsSolution © 2015.
    </footer>

    @RenderSection("Scripts", required: false)

</body>

</html>
