

@if (Request.IsAuthenticated)
{
    @:Вы вошли как 
    <strong>
        @User.Identity.Name
    </strong>
    <span>
        @Html.ActionLink("Выйти", "LogoOut", "Login")
    </span>
}
else
{
    <span>@Ajax.ActionLink("Войти", "Index", "Login", new AjaxOptions { UpdateTargetId = "test" })</span>
    <span>@Ajax.ActionLink("Регистрация", "Register", "Login", new AjaxOptions { UpdateTargetId = "test" })</span>
}
