<ul>
    <li>@Html.ActionLink("Главная", "Index", new { controller = "User", id = "Главная" }, new { @class = "l_menu" })</li>
    <li>@Html.ActionLink("Контакты", "Index", new { controller = "User", id = "Контакты" }, new { @class = "l_menu" })</li>

</ul>