

<div ng-if="Session.currentUser" class="row-fluid">
    Welcome, {{ Session.currentUser }}
    <a class="navbar-brand" href="#/logoout">Выйти</a>
</div>
<div ng-hide="Session.currentUser">
    <div ng-controller="LoginCtrl" class="row-fluid">
        <div class="">
            <span ng-show="response[0]" class="label label-important">
                {{response[1]}}
            </span>
            <form class="form-inline">
                @*@Html.AntiForgeryToken()*@
                <div class="form-group">
                    @*<label class="control-label">Логин :</label>*@
                    <div class="col-md-10">
                        <input type="text" class="form-control text-box single-line" placeholder="Login" ng-model="credentials.username">
                    </div>
                </div>
                <div class="form-group">
                    @*<label class="control-label">Пароль:</label>*@
                    <div class="col-md-10">
                       @* <input type="password" class="form-control text-box single-line" placeholder="Password" ng-model="credentials.password">*@
                    </div>
                </div>
                <div class="form-group">
                    @*<label class="control-label" for="optionsCheckbox">Запомнить</label>
    <label class="checkbox">
        <input type="checkbox" id="optionsCheckbox" ng-model="credentials.RememberMe">
    </label>*@
    </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-default" ng-click="login(credentials)">Войти</button>
                </div>
            </form>
            <div class="row-fluid">
                <a href="#/register" class="dropdown-toggle">Регистрация</a>
            </div>
        </div>
    </div>
</div>
