@model Web.Models.LoginModel
@*@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutUk.cshtml";
}*@


<h2>Index</h2>

<h2>Index</h2>
<div ng-controller="TestCtrl">
    <div ng-show="autoApplications == 'Y'">
        <form name="answerForm">

            @*@Html.AntiForgeryToken()*@
            <h4>LoginModel</h4>
            <hr />

            <div class="form-group">
                <label class="control-label col-md-2" for="UserName">Логин</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" ng-model="login.UserName" required placeholder="введите логин" value="" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="Password">Пароль</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line password" ng-model="login.Password" required placeholder="Password" type="password" value="выаыв" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="RememberMe">Сохранить?</label>
                <div class="col-md-10">
                    <div class="checkbox">
                        <input class="check-box" id="RememberMe" ng-model="login.RememberMe" type="checkbox" value="true" />

                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Войти" ng-click="save(answer, answerForm)" />
                </div>
            </div>
        </form>
    </div>
    <div ng-show="autoApplications == 'N'">
        <div>Ответ:</div>
        <p ng-bind="status"></p>
        <p ng-bind="data"></p>
    </div>
</div>
