@model Web.Models.LoginModel

<h2>Index</h2>
    <div ng-controller="LoginCtrl">
        <div class="form-group">
                <form name="loginForm" ng-submit="login(credentials)" novalidate>
                @*@Html.AntiForgeryToken()*@
                <label class="control-label col-md-2" for="username">Username:</label>
                <input class="form-control text-box single-line" type="text" id="username" ng-model="credentials.username">
                <label class="control-label col-md-2" for="password">Password:</label>
                <input class="form-control text-box single-line" type="password" id="password" ng-model="credentials.password">
                <button type="submit" ngClick="login(credentials)">Войти!</button>
            </form>
        </div>
    </div>
