@model Web.Models.RegisterModel


<div ><h3>Регистрация</h3>
    <div ng-hide="Session.currentUser">
        <form name="RegisterForm" class="ng-pristine ng-valid ng-scope" @*ng-submit="register(reguser)*@ ">
           
            <div class="form-horizontal">
                <fieldset>
                    <legend>Форма регистрации {{Session.currentUser}}</legend>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="UserName" >E-mail</label>
                        <div class="col-md-10">
                            <input class="form-control text-box single-line" id="UserName" name="UserName" type="text" ng-model="reguser.UserName" required ng-pattern="/^(?:[a-z0-9]+(?:[-_]?[a-z0-9]+)?@[a-z0-9]+(?:\.?[a-z0-9]+)?\.[a-z]{2,5})$/i">
                        </div>
                    </div>

                    @*<div class="form-group">
                        <label class="control-label col-md-2" for="Email">Логин</label>
                        <div class="col-md-10">
                            <input class="form-control text-box single-line" id="Email" name="Email" type="text" ng-model="reguser.Email">
                        </div>
                    </div>*@


                    <div class="form-group">
                        <label class="control-label col-md-2" for="Password">Пароль</label>
                        <div class="col-md-10">
                            <input class="form-control text-box single-line password" id="Password" name="Password" type="password" ng-model="reguser.Password" required >
                            <span class="error" ng-show="RegisterForm.Password.$error.required">Required!</span><br>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="ConfirmPassword">Подтвердите пароль</label>
                        <div class="col-md-10">
                            <input class="form-control text-box single-line password" id="ConfirmPassword" name="ConfirmPassword" type="password" ng-model="reguser.ConfirmPassword" required >
                            <span class="error" ng-show="RegisterForm.ConfirmPassword.$error.required">Required!</span><br>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Регистрация" class="btn btn-default" ng-Click="register(reguser, RegisterForm)" ng-disabled="RegisterForm.$invalid">
                        </div>
                    </div>
                </fieldset>
            </div>
        </form>
    </div>
</div>

