@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewBag.Title = "Главная";
}


<div class="span9">
    <div class="well well-small" style="text-align:left">
        <ng-view>
        </ng-view>
    </div>
</div>
@section Scripts
{



}
