@using Web.Models

@model   Article

@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewBag.Title = "Главная";
}

<h2></h2>

   

<hr>
   
<hr>
    
<br>Время UTC: @System.DateTime.UtcNow;
<br>Местное время: @System.DateTime.Now;
