<div ng-controller="No_Uk_Ctrl">
    @*<style>
        body {
          font-family: Arial, sans-serif;
        }

        input {
          padding: 3px 5px;
          border: 1px solid gray;
          border-radius: 3px;
        }

        .list {
          list-style-type: none;
          margin: 0;
          opacity: 0;
          padding: 4px 7px;
          position: absolute;
          margin-left: -1000px;
          background: white;
          box-shadow: 1px 1px 6px rgb(195, 195, 195);
          border-radius: 2px;
          -webkit-transition: opacity 0.4s;
          transition: opacity 0.4s;
        }

        .list li {
          padding: 3px 5px;
          cursor: pointer;
        }

        .list li:hover {
          background: lightgray;
        }

        .show .list {
          margin-left: 0;
          opacity: 1;
        }

        .list li .amount {
          display: inline-block;
          padding: 2px 3px;
          background-color: rgb(83, 177, 211);
          border-radius: 3px;
          margin: 0 0 3px 10px;
          font-size: 65%;
          color: white;
        }

        </style>*@

    <div class="row-fluid">

        <h3>Найди свой дом</h3>
        <br>
        <form>
            <div class="form-horizontal">
                <fieldset ng-hide="address">
                    <legend>Введите ваш адрес</legend>

                    <div>
                        <select data-ng-model="street" data-ng-options="street for street in streets" data-ng-change="gethouses()">
                            <option value="">-- Select Street --</option>
                        </select>

                        <select data-ng-model="house" data-ng-disabled="!street" data-ng-options="house for house in houses">
                            <option value="">-- Select House --</option>
                        </select>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Далее" class="btn btn-default" ng-click="SetAddres()" ng-disabled="!house" />
                            </div>
                        </div>
                    </div>


                </fieldset>
                <div ng-show="address"  >
                    <h3>Редактирование профиля</h3>

                    <div  class="form-horizontal">
                        @*<input type="hidden" ng-model="profmodel.Apartment" ng-init="profmodel.Apartment">*@
                        <input type="hidden" ng-model="profmodel.Adress" />
                        <span ng-show="response[1]" class="label label-important">
                            {{response[1]}}
                        </span>
                        <fieldset>
                            <legend></legend>
                            <div class="form-group">
                                Фамилия

                                <div class="col-md-10">
                                    <input class="form-control text-box single-line" type="text" ng-model="profmodel.SurName" >
                                </div>
                            </div>

                            <div class="form-group">
                                Имя
                                <div class="col-md-10">
                                    <input class="form-control text-box single-line" type="text" ng-model="profmodel.Name" >
                                </div>
                            </div>

                            <div class="form-group">
                                Отчество
                                <div class="col-md-10">
                                    <input class="form-control text-box single-line" type="text" ng-model="profmodel.Patronymic">
                                </div>
                            </div>

                            <div class="form-group">
                                Лицевой счет
                                <div class="col-md-10">
                                    <input class="form-control text-box single-line" type="text" ng-model="profmodel.Personal_Account" >
                                </div>
                            </div>

                            <div class="form-group">
                                E-mail
                                <div class="col-md-10">
                                    <input class="form-control text-box single-line" type="text" ng-model="profmodel.Email" >
                                </div>
                            </div>

                            <div class="form-group">
                                phone
                                <div class="col-md-10">
                                    <input class="form-control text-box single-line" type="text" ng-model="profmodel.phone" >
                                </div>
                            </div>

                            <div class="form-group">
                                mobile
                                <div class="col-md-10">
                                    <input class="form-control text-box single-line" type="text" ng-model="profmodel.mobile" >
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Сохранить" class="btn btn-default" ng-click="submit(profmodel)">
                                </div>
                            </div>
                        </fieldset>
                        <pre {{ profmodel | json }}></pre>
                        <pre> {{ address | json }}</pre>
                    </div>
                   
                </div>
            </div>
        </form>
        <span ng-show="response[1]" class="badge badge-success">
            {{response[1]}}
        </span>
    </div>


<pre>{{streets | json}}</pre>
<pre>{{houses | json}}</pre>

</div>
