<div ng-controller="CreateProfCtrl">
    <form>
        <div ng-hide="status" class="form-horizontal">
            @*@Html.AntiForgeryToken()*@

            <div class="form-horizontal">
                <h3>UserProfile_nouk_form</h3>
                <hr />
                @*@Html.ValidationSummary(false, "", new { @class = "text-danger" })*@
                @*@Html.HiddenFor(model => model.UserId)*@

                <span ng-show="response[1]" class="label label-important">
                    {{response[1]}}
                </span>
                <div class="form-group">
                    @*@Html.LabelFor(model => model.SurName, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <div class="col-md-10">
                        <input class="form-control text-box single-line" type="text" ng-model="profmodel.SurName" ng-init="profmodel.SurName = ''" value="">
                        @*@Html.EditorFor(model => model.SurName, new { htmlAttributes = new { @class = "form-control" } })*@
                    </div>
                </div>

                <div class="form-group">
                    @*@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <div class="col-md-10">
                        <input class="form-control text-box single-line" type="text" ng-model="profmodel.Name" ng-init="profmodel.Name = ''" value="">
                    </div>
                </div>

                <div class="form-group">
                    @*@Html.LabelFor(model => model.Patronymic, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <div class="col-md-10">
                        <input class="form-control text-box single-line" type="text" ng-model="profmodel.Patronymic" ng-init="profmodel.Patronymic = ''" value="">
                    </div>
                </div>

                <div class="form-group">
                    @*@Html.LabelFor(model => model.Adress, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <div class="col-md-10">
                        <input class="form-control text-box single-line" type="text" ng-model="profmodel.Adress" ng-init="" value="">
                    </div>
                </div>
                <div class="form-group">
                    @*@Html.LabelFor(model => model.Apartment, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <div class="col-md-10">
                        <input class="form-control text-box single-line" type="text" ng-model="profmodel.Apartment"  value="">
                    </div>
                </div>

                <div class="form-group">
                    @*@Html.LabelFor(model => model.Personal_Account, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <div class="col-md-10">
                        <input class="form-control text-box single-line" type="text" ng-model="profmodel.Personal_Account" value="">
                    </div>
                </div>

                <div class="form-group">
                    @*@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <div class="col-md-10">
                        <input class="form-control text-box single-line" type="text" ng-model="profmodel.Email" ng-init="profmodel.Email = ''" value="">
                    </div>
                </div>

                <div class="form-group">
                    @*@Html.LabelFor(model => model.phone, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <div class="col-md-10">
                        <input class="form-control text-box single-line" type="text" ng-model="profmodel.phone" ng-init="profmodel.phone = ''" value="">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Сохранить" class="btn btn-default" ng-click="submit(profmodel)">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<span ng-show="response[1]" class="badge badge-success">
    {{response[1]}}
</span>
