

<div class="alert alert-info">
    <p>Sort Type: {{ sortType }}</p>
    <p>Sort Reverse: {{ sortReverse }}</p>
    <p>Search Query: {{ searchDef }}</p>
</div>
<form>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>
            <input type="text" class="form-control" placeholder="Search da Fish" ng-model="searchDef">
            <input type="text" class="form-control" placeholder="Search da Fish" ng-model="searchDef2">
        </div>
    </div>
</form>
<h2>Все счетчики жильцов</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <td>
                <a href="#/ViewCounters" ng-click="sortType = 'list.id'">
                    id
                    <span ng-show="sortType == 'list.id'" class="fa fa-caret-down"></span>
                </a>
            </td>
            <td>
                <a href="#/ViewCounters" ng-click="sortType = 'type'">
                    <span ng-show="sortType == 'type'" class="fa fa-caret-down"></span>
                    Тип счетчика
                </a>
            </td>
            <td>
                <a href="#/ViewCounters" ng-click="sortType = 'serial'">
                    <span ng-show="sortType == 'serial'" class="fa fa-caret-down"></span>
                    Серийный номер
                </a>
            </td>
            <td>
                <a href="#/ViewCounters" ng-click="sortType = 'DateOfReview'">
                    <span ng-show="sortType == 'DateOfReview'" class="fa fa-caret-down"></span>
                    Дата проверки
                </a>
            </td>
            <td>
                <a href="#/ViewCounters" ng-click="sortType = 'place'">
                    <span ng-show="sortType == 'place'" class="fa fa-caret-down"></span>
                    Расположение
                </a>
            </td>
            <td>
                <a href="#/ViewCounters" ng-click="sortType = 'status'">
                    <span ng-show="sortType == 'status'" class="fa fa-caret-down"></span>
                    Статус
                </a>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="list in counter.ListCounter | orderBy:sortType:sortReverse | filter:searchDef">
            <td>{{ list.id }}</td>
            <td>{{ list.type }}</td>
            <td>{{ list.serial }}</td>
            <td>{{ list.DateOfReview }}</td>
            <td>{{ list.place }}</td>
            <td>{{ list.status }}</td>
        </tr>
    </tbody>
    <thead>
        <tr>
            <td>
                <h2>Данные счетчиков</h2>
            </td>
        </tr>
    </thead>
    <thead>
        <tr>
            <td>
                <a href="#/ViewCounters" ng-click="sortType = 'id'">
                    UserId
                    <span ng-show="sortType == 'id'" class="fa fa-caret-down"></span>
                </a>
            </td>
            <td>
                <a href="#/ViewCounters" ng-click="sortType = 'write'">
                    <span ng-show="sortType == 'write'" class="fa fa-caret-down"></span>
                    Тип счетчика
                </a>
            </td>
            <td>
                <a href="#/ViewCounters" ng-click="sortType = 'data'">
                    <span ng-show="sortType == 'data'" class="fa fa-caret-down"></span>
                    Показания счетчика
                </a>
            </td>
    </thead>
    <tbody>
        <tr ng-repeat="data in counter.ListData | orderBy:sortType:sortReverse | filter:searchDef2">
            <td>{{data.id }}</td>
            <td>{{ data.write }}</td>
            <td>{{ data.data }}</td>
        </tr>
    </tbody>
</table>
<pre>{{counter | json}}</pre>