

<div class="alert alert-info">
    <p>Sort Type: {{ sortType }}</p>
    <p>Sort Reverse: {{ sortReverse }}</p>
    <p>Search Query: {{ searchDef }}</p>
</div>
<form>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>
            <input type="text" class="form-control" placeholder="Поиск счетчика" ng-model="searchDef">
        </div>
    </div>
</form>

<section>
     <h4>Год: <a href="#/ViewCounters/{{year-1}}"><<</a> | {{year}} | <a href="#/ViewCounters/{{year+1}}">  >></a> Выберите месяц: {{test}}</h4>
    <select ng-change="select_month()" ng-model="selectedMonth" value"{{month}}">
        <option value="">---Please select---</option>
        <option ng-repeat="option in monthOptions" value="{{option.id}}">{{option.name}}</option>
    </select>
</section>
<h2>Все счетчики жильцов</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <td>
                <a href="#/ViewCounters" ng-click="sortType = 'Name'">
                    Фамилия Имя 
                    <span ng-show="sortType == 'Name'" class="fa fa-caret-down"></span>
                </a>
            </td>
            <td>
               Газ             
            </td>
            <td>
               Электроэнергия             
            </td>
            <td>
               Холодная вода
            </td>
            <td>
               Горячая вода
            </td>
            <td>
                Улица, дом
            </td>
            <td>
                Месяц
            </td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in counter | orderBy:sortType:sortReverse | filter:searchDef">
            <td>{{ item.Name }}</td>
            <td> <div ng-repeat="ig in item.gasi">{{ig.data}} | {{ig.place}}</div><hr>Итого: {{ sum(item.gasi) }}</td>
            <td> <div ng-repeat="ie in item.energoi">{{ie.data}} | {{ie.place}}</div><hr>Итого: {{ sum(item.energoi) }}<hr></td>
            <td> <div ng-repeat="icw in item.cwi">{{icw.data}} | {{icw.place}}</div><hr>Итого: {{ sum(item.cwi) }}</td>
            <td> <div ng-repeat="ihw in item.hwi">{{ihw.data}} | {{ihw.place}}</div><hr>Итого: {{ sum(item.hwi) }}</td>
            <td>{{ item.street}}, {{item.house}}, {{item.flat}}</td>
            <td>{{ item.month | JsonDate | date : 'MMM - y' }}</td>
        </tr>
    </tbody>
</table>
<hr>
<pre>{{counter}}</pre>