

<div class="alert alert-info">
    <p>Sort Type: {{ sortType }}</p>
    <p>Sort Reverse: {{ sortReverse }}</p>
    <p>Search Query: {{ searchDef }}</p>
</div>
<form>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>
            <input type="text" class="form-control" placeholder="Поиск счетчика" ng-model="searchDef">
            <input type="text" class="form-control" placeholder="Поиск данных счетчика" ng-model="searchDef2">
        </div>
    </div>
</form>
<section>
    <h4>Выберите месяц</h4>
    <select ng-change="select_month()" ng-model="selectedLanguage">
        <option value="11">Ноябрь</option>
        <option value="12">Декарь</option>
    </select>
</section>
<h2>Все счетчики жильцов</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <td>
                <a href="#/ViewCounters" ng-click="sortType = 'Name'">
                    Фамилия Имя 
                    <span ng-show="sortType == 'Name'" class="fa fa-caret-down"></span>
                </a>
            </td>
            <td>
               Газ             
            </td>
            <td>
               Электроэнергия             
            </td>
            <td>
               Холодная вода
            </td>
            <td>
               Горячая вода
            </td>
            <td>
                Улица, дом
            </td>
            <td>
                Месяц
            </td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in counter | orderBy:sortType:sortReverse | filter:searchDef">
            <td>{{ item.Name }}</td>
            <td>{{ item.gas }}</td>
            <td>{{ item.energo }}</td>
            <td>{{ item.cw }}</td>
            <td>{{ item.hw }}</td>
            <td>{{ item.street}}, {{item.house}}, {{item.flat}}</td>
            <td>{{ item.month | JsonDate | date : 'MMM - y' }}</td>
        </tr>
    </tbody>
</table>
<hr>
<pre>{{counter}}</pre>