@model Web.Models.feedback

<div ng-controller="FeedbackCtrl" class="row">
    <div ng-hide="status" class="span6">
        <form>
            <input type="hidden" ng-model="feedmodel.id_uk" ng-init="feedmodel.id_uk = @Model.id_uk">
             <h3>Форма обращения (заявок) в УК (ТСЖ)</h3>
            <fieldset>
                         <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-2" for="title">Название: </label>
                            <div class="col-md-10">
                                <input class="text-box single-line" id="title" name="title" type="text" ng-model="feedmodel.title">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2" for="message">Текст сообщения: </label>
                            <div class="col-md-10">
                                <textarea cols="30" id="message" name="message" rows="5" ng-model="feedmodel.message"></textarea>
                            </div>
                        </div>
                        <span ng-show="response[1]" class="label label-important">
                            {{response[1]}}
                        </span>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" class="btn" ng-click="submit(feedmodel)">Отправить</button>
                            </div>
                        </div>

                    </div>

            </fieldset>
        </form>
     </div>
    <div class="span6">
        <span class="label label-success" ng-show="status" class="span6">{{response[1]}}</span>
        @*@Html.ActionLink("Вернуться к профилю", "profile")*@
    </div>
 </div>
