@{
    ViewBag.Title = "No_uk";
    Layout = "~/Views/Shared/_LayoutUk.cshtml";
}

<h2>Для вашей учетной записи нет нет данных по ТСЖ или управляющей компании</h2>
<br>Найдите свой дом, далее заполните анкетные данные и ждите ответа от администрации.
<br> @Html.ActionLink("Поиск своего ТСЖ или УК", "SeekAdress")