@*@{
        ViewBag.Title = "No_uk";
        Layout = "~/Views/Shared/_LayoutUk.cshtml";
    }*@
<div class="row-fluid">

        <h3>Ваша учетная записть не имеет профиля</h3>
                Для вашей учетной записи нет нет данных по ТСЖ или управляющей компании. 
        <br>Найдите свой дом, далее заполните анкетные данные и ждите ответа от администрации.
        <br> @Html.ActionLink("Поиск своего ТСЖ или УК", "SeekAdress")

</div>