

<div ng-controller="ViewDataMetersCtrl">
    <h3>Счетчики </h3>
    <ul class="breadcrumb">
        <li> <a href="#/viewmeters">Данные по счетчикам</a> <span class="divider">/</span></li>
        <li class="active">Показания счетчиков <span class="divider">/</span></liclass="active">
    </ul>
    <div ng-repeat="item in datameters">
        <table class="table" ng-repeat="ig in item.gasi">
            <tr>
                <th>
                    Газ<br>Серийный №{{ig.counter.Serial}}
                </th>
                <th>
                    Показания
                </th>
                <th>
                    Дата показаний
                </th>
                <th>
                    Статус
                </th>
            </tr>
            <tr ng-repeat="data in ig.ListData">
                <td></td>
                <td> {{data.data}} </td>
                <td> {{data.write | JsonDate | date : 'MMM - y'}} </td>
            </tr>
        </table>
        <table class="table" ng-repeat="ig in item.energoi">
            <tr >
                <th>
                    Электроэнергия<br>Серийный №{{ig.counter.Serial}}
                </th>
                <th>
                    Показания
                </th>
                <th>
                    Дата показаний
                </th>
                <th>
                    Статус
                </th>
            </tr>
            <tr ng-repeat="data in ig.ListData">
                <td>    </td>
                <td> {{data.data}}</td>
                <td> {{data.write | JsonDate | date : 'MMM - y'}}</td>
                <td> {{data.status}}</td>
            </tr>
        </table>
        <table class="table" ng-repeat="ig in item.cwi">
            <tr>
                <th>
                    Холодная вода<br>Серийный №{{ig.counter.Serial}}
                </th>
                <th>
                    Показания
                </th>
                <th>
                    Дата показаний
                </th>
                <th>
                    Статус
                </th>
            </tr>
            <tr ng-repeat="data in ig.ListData">
                <td>  </td>
                <td> {{data.data}} </td>
                <td> {{data.write | JsonDate | date : 'MMM - y'}} </td>
                <td> {{data.status}} </td>
            </tr>
        </table>
        <table class="table" ng-repeat="ig in item.hwi">
            <tr>
                <th>
                    Горячая вода<br>Серийный №{{ig.counter.Serial}}
                </th>
                <th>
                    Показания
                </th>
                <th>
                    Дата показаний
                </th>
                <th>
                    Статус
                </th>
            </tr>
            <tr ng-repeat="data in ig.ListData">
                <td> </td>
                <td> {{data.data}} </td>
                <td> {{data.write | JsonDate | date : 'MMM - y'}} </td>
                <td> {{data.status}} </td>
            </tr>
        </table>
    </div>
    <hr>
    <a href="#/addmeter">Добавить счетчик</a>
    <pre>{{datameters | json}}</pre>
</div>


