@model IEnumerable<Web.Models.Counter>

<div ng-controller="MetersCtrl">
    <h3>Счетчики </h3>
    <ul class="breadcrumb">
        <li class="active">Данные по счетчикам </li><span class="divider">/</span></li>
        <li><a href="#/datameters">Показания счетчиков</a> <span class="divider">/</span></li>
        <li><a href="#">Library</a></li>
    </ul>
    <table class="table">
        <tr>
            <th>
                Общее название
            </th>
            <th>
                Серийный номер
            </th>
            <th>
                Дата проверки
            </th>

            <th>
                Статус
            </th>
            <th>
                Ед. измерения
            </th>
        </tr>
        <tr  ng-repeat="item in meters">
            <td>{{ item.Name }}</td>
            <td>{{ item.Serial }}</td>
            <td>{{ item.DateOfReview | JsonDate | date : 'dd-MM-y' }}</td>
            <td>{{ item.Status }}</td>
            <td>{{ item.Measure }}</td>
        </tr>
    </table>
    <hr>
    <a href="#/addmeter">Добавить счетчик</a>
<pre>{{meters | json}}</pre>
</div>